<form asp-action="Index">
    <label>Full Name: "</label>
    <input type="text" placeholder="Enter full name" name="fName">
    <label>Email:</label>
    <input type="email" placeholder="enter Email" name="mEmail">
    <button type="Submit">Save</button>
    <h1>@ViewBag.thongBao</h1>
 </form>