<form asp-action="Index" method="post">
    <label>Student ID: </label>
    <input type="text" name="StudentID" placeholder="Enter Sudent ID"> </br> </br>
    <label>Full Name: </label>
    <input type="text" name="FullName" placeholder="Enter full name"> </br> </br>
    <button type="submit">Submit</button>
    <h1>@ViewBag.thongBao</h1>
    <h2>Tran Thi Kim Dung - 2021050135</h2>
</form>